.fullscreen-pdf {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white; /* Couleur de fond pour le PDF */
    z-index: 999; /* Pour que le PDF soit au-dessus d'autres éléments */
    display: flex;
    justify-content: center;
    align-items: center;
}
.notification {
    position: fixed;
    top: 62px;
    left: 1px;
    padding: 15px;
    border-radius: 5px;
    z-index: 1000;
    transition: opacity 0.4s ease, transform 0.4s ease;
  }
  
  .notification-success {
    background-color: rgb(89, 89, 92); /* vert clair */
    color: white /* texte vert foncé */
  }
  
  .notification-error {
    margin-top: 75px;
    right: 10px;
    left: 1200px;
    background-color: #f8d7da; /* rouge clair */
    color: #951421; /* texte rouge foncé */
  }