<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Improved Page</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <link rel="stylesheet" href="C:\pfefront\pfeFront\src\assets\css\styles.css">
      <style>
        .animated-frame {
      width: 250px;
      height: 50px;
      background: linear-gradient(45deg, rgb(18, 63, 224), rgb(255, 0, 136));
      border: 2px solid transparent;
      margin: 20px;
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 20px;
      font-weight: bold;
      cursor: pointer;
      position: relative;
      transition: background-color 0.5s ease;
      border-radius: 50%;
    }

    .animated-frame:hover {
      transform: scale(1.1);
      background: linear-gradient(45deg, rgb(255, 0, 136), rgb(18, 63, 224));
      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    }

    .animated-frame:hover .email-info .email {
      color: white;
    }
      </style>
    </head>
	<body>
		
		<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
			<div class="container-fluid">
			  <a class="navbar-brand" href="#">OpsAutomate</a>
			  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarText">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				  <li class="nav-item">
					<a class="nav-link active" aria-current="page" href="/ressource" style="color: black;">Home</a>
				  </li>
          <li class="nav-item">
            <a class="nav-link" href="/ressource" style="color: black;">Services</a>
            </li>
				  <li class="nav-item">
					<a class="nav-link" href="/contact" style="color: black;">Conatct</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="#" style="color: black;">About</a>
				  </li>
				  
				</ul>
				<div class="dropdown">
				  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
					Our Services
				  </button>
				  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
					<li><a class="dropdown-item" href="#">build</a></li>
					<li><a class="dropdown-item"  data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-content="test de qualite ">
					 test </a></li>
					<li><a class="dropdown-item" href="#">deploy</a></li>
				  </ul>
				  
				</div>
				<form class="d-flex" style="margin-top: 7px; margin-left: 10px;">
				  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" style="height: 28px;">
				</form>
			  </div>
			</div>
		  </nav>  
<div class="card text-center" style=" height: 700px;">
	<div class="card-header">
	  <ul class="nav nav-pills card-header-pills">
		<li class="nav-item">
		  <a class="nav-link" href="/essaie">Jmeter</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link " href="/essaie1">selenuim</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link  " href="/essaie2" tabindex="-1" aria-disabled="true">Autres Tests ...</a>
		</li>
        <li class="nav-item">
            <a class="nav-link active " href="/essaie3" tabindex="-1" aria-disabled="true">Resultas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/hebergement" tabindex="-1" aria-disabled="true">hebergement</a>
          </li>
		
	  </ul>
	</div>
	

<div class="col-lg-4 " style="margin-left: 500px;">
    <div class="card h-100">
      <div class="card-header pb-0 p-3">
        <div class="row">
          <div class="col-6 d-flex align-items-center">
            <h6 class="mb-0">Invoices</h6>
          </div>
          <div class="col-6 text-end">
            <button class="btn btn-outline-primary btn-sm mb-0">View All</button>
          </div>
        </div>
      </div>
      <div class="card-body p-3 pb-0">
        <ul class="list-group">
          <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
            <div class="d-flex flex-column">
              <h6 class="mb-1 text-dark font-weight-bold text-sm">Septembre, 10, 2024</h6>
            </div>
            <div class="d-flex align-items-center text-sm">
              <div class="animated-frame">

              <button class="btn btn-link text-dark text-sm mb-0 px-0 ms-4"  (click)="jmeterpdf()"><i class="material-icons text-lg position-relative me-1" style="color: #fff;">resultats_jmetr_as_pdf</i> </button>
                
              </div>
              <div *ngIf="Pdfjemter">
                <embed [src]="Pdfjemter" type="application/pdf" width="100%" height="600px" />
              </div>
            </div>

          </li>
          <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
            <div class="d-flex flex-column">
              <h6 class="text-dark mb-1 font-weight-bold text-sm">Septembre, 10, 2024</h6>
            </div>
             
              <div class="d-flex align-items-center text-sm">
                <div class="animated-frame">
             
                  <button class="btn btn-link text-dark text-sm mb-0 px-0 ms-4" (click)="seleniumPDF()"><i class="material-icons text-lg position-relative me-1" style="color: #fff;">resultats_selenuim_as_pdf</i> </button>
                </div>
              
                  <div *ngIf="pdfurl">
                <embed [src]="pdfurl" type="application/pdf" width="100%" height="600px" />
              </div>
            </div>

           

          </li>
          <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
            <div class="d-flex flex-column">
              <h6 class="text-dark mb-1 font-weight-bold text-sm">Septembre, 10, 2024</h6>
            </div>
            <div class="d-flex align-items-center text-sm">
                <div class="animated-frame">
                  <button class="btn btn-link text-dark text-sm mb-0 px-0 ms-4" (click)="downloadPdfjunit()">
                    <i class="material-icons text-lg position-relative me-1" style="color: #fff;">Resultats_junit_as_pdf</i>
                  </button>              
                  </div>
              
            </div>
          </li>
          
          


         
        </ul>
      </div>
    </div>
  </div>

  <div class="col-lg-4" style="margin-left: 500px; margin-top: 20px;">
    <div class="card h-100">
      <div class="card-header pb-0 p-3">
        <div class="row">
          <div class="col-6 d-flex align-items-center">
            <h6 class="mb-0">Temps reele</h6>
          </div>
          <div class="col-6 text-end">
            <button class="btn btn-outline-primary btn-sm mb-0">Code Qualite</button>
          </div>
        </div>
      </div>
      <div class="card-body p-3 pb-0">
        <ul class="list-group">
          
         
          <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
            <div class="d-flex flex-column">
              <h6 class="text-dark mb-1 font-weight-bold text-sm">Septembre, 10, 2024</h6>
            </div>
            <div class="d-flex align-items-center text-sm">
              <div class="d-flex align-items-center text-sm">
                <div class="animated-frame">
              <button class="btn btn-link text-dark text-sm mb-0 px-0 ms-4" (click)="analysecode()"> <i class="material-icons text-lg position-relative me-1" style="color: #fff;">Resultats_sonarQube</i> </button>
                </div></div>
            </div>
          </li>
          
         
        </ul>
      </div>
    </div>
  </div>
    
  <div class="col-lg-4" style="margin-left: 500px; margin-top: 20px;">
    <div class="card h-100">
      <div class="card-header pb-0 p-3">
        <div class="row">
          <div class="col-6 d-flex align-items-center">
            <h6 class="mb-0">Jar File</h6>
          </div>
          <div class="col-6 text-end">
            <button class="btn btn-outline-primary btn-sm mb-0">executable</button>
          </div>
        </div>
      </div>
      <div class="card-body p-3 pb-0">
        <ul class="list-group">
          
         
          <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
            <div class="d-flex flex-column">
              <h6 class="text-dark mb-1 font-weight-bold text-sm">Septembre, 10, 2024</h6>
            </div>
            <div class="d-flex align-items-center text-sm">
              <div class="d-flex align-items-center text-sm">
                <div class="animated-frame">
              <button class="btn btn-link text-dark text-sm mb-0 px-0 ms-4" (click)="downloadjarfile()"> <i class="material-icons text-lg position-relative me-1" style="color: #fff;">Fichier_Jar</i> </button>
                </div></div>
            </div>
          </li>
          
         
        </ul>
      </div>
    </div>
  </div>




</div>
<div *ngIf="pdfurl" class="fullscreen-pdf">
  <button (click)="closePdf()" class="btn btn-close" style="position: absolute; top: 60px; right: 20px; z-index: 1000; background-color: #fff;">
    
</button>
  <embed [src]="pdfurl" type="application/pdf" width="100%" height="100%" />
</div>

<div *ngIf="Pdfjemter" class="fullscreen-pdf">
  <button (click)="closePdf1()" class="btn btn-close" style="position: absolute; top: 60px; right: 20px; z-index: 1000; background-color: #fff;">
  </button>
  <embed [src]="Pdfjemter" type="application/pdf" width="100%" height="100%" />
</div>

<div *ngIf="PdfselenUrl" class="fullscreen-pdf">
  <button (click)="closePdf2()" class="btn btn-close" style="position: absolute; top: 60px; right: 20px; z-index: 1000; background-color: #fff;">
  </button>
  <embed [src]="PdfselenUrl" type="application/pdf" width="100%" height="100%" />
</div>
<div *ngIf="showNotification" [ngClass]="notificationClass" class="notification">
  {{ notificationMessage }}
</div>

    </body>
</html>
