
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Improved Page</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <link rel="stylesheet" href="C:\pfefront\pfeFront\src\assets\css\styles.css">
    </head>
    <body class="d-flex flex-column h-100 bg-light">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd; height: 70px; ">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#">OpsAutomate</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/ressource" style="color: black;">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/ressource" style="color: black;">Services</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/contact" style="color: black;">Conatct</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#" style="color: black;">About</a>
                      </li>
                      
                    </ul>
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Our Services
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#">build</a></li>
                        <li><a class="dropdown-item"  data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-content="test de qualite ">
                         test </a></li>
                        <li><a class="dropdown-item" href="#">deploy</a></li>
                      </ul>
                      
                    </div>
                    <form class="d-flex" style="margin-top: 10px; ">
                      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" style="height: 40px;">
                    </form>
                  </div>
                </div>
              </nav>    
             
   
  
          

            <div class="text-center mb-5" style="height: 10px;">
              <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Welcome To OpsAutomate</span></h1>
          </div>


                        <div>
                            <section class="py-5 bg-gradient-primary-to-secondary text-white" style="margin-top: 60px; height: 300px;">
                            <div class="container px-5 my-5" >
                                <div class="text-center">
                                    <h2 class="display-4 fw-bolder mb-4">Let's build something together</h2>
                                    <a class="btn btn-outline-light btn-lg px-5 py-3 fs-6 fw-bolder" href="/pipeline">Try us</a>
                                    


                                </div>
                            </div>
                        </section>
            
                        <section class="py-5" style="margin-top: 1px;">
                            <div class="container px-5 mb-5">
                                <div class="row gx-5 justify-content-center">
                                    <div class="col-lg-11 col-xl-9 col-xxl-8">
                                        <!-- Project Card 1-->
                                       <img src="assets/images/imganimated.gif" alt="..." width="800px;" height="300px;" style="display: flex;">
                                        <!-- Project Card 2-->
                                       
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>




<!-- Modal logout -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Logout
          <img src="/assets/images/logout.jpg" alt="..." height="60px;" width="60px;">
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="alert alert-primary d-flex align-items-center" role="alert">
          <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
          <div>
            Are you sure you want to log out?
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="logoutUser()">Okey</button>
      </div>
    </div>
  </div>
</div>
            <!-- Call to action section-->
            
        </main>
        <!-- Footer-->
        <footer class="bg-white py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0"> </div></div>
                    <div class="col-auto">
                        <a class="small" href="#!">Privacy</a>
                        <span class="mx-1">&middot;</span>
                        <a class="small" href="#!">Terms</a>
                        <span class="mx-1">&middot;</span>
                        <a class="small" href="#!">Contact</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

  <!-- Zone JS (Angular requirement) -->
  <script src="zone.js/dist/zone.js"></script>
    </body>
</html>
